<section class="map">
  <div class="container">
    <div class="map__inner">
      <button class="map__btn" type="button">
        <span class="title-h1">Поставляем продукцию по России и СНГ</span>
        <i class="map__icon">
          <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 2.27222L17.6667 0.00195313L10 7.46141L2.33333 0.00195313L-1.90735e-06 2.27222L10 12.002L20 2.27222Z"
                  fill="#252525"/>
          </svg>
        </i>
      </button>
      <div class="map__content">
        <div class="map__body">
          <div class="map__search">
            <input class="map__input search" type="text" name="Город" placeholder="Введите город">
            <a class="map__search-text" href=""><span>Не нашли свой город в списке?</span></a>
          </div>

          <ul class="map__regions scroll">
            <li class="map__region">
              <h3 class="map__title title-h3">Алтайский край</h3>
              <ul class="map__list" id="region-1">
                <li class="map__item"><a class="map__link" href="">Абакан</a></li>
                <li class="map__item"><a class="map__link" href="">Барнаул</a></li>
                <li class="map__item"><a class="map__link" href="">Брянск</a></li>
                <li class="map__item"><a class="map__link" href="">Владимир</a></li>
                <li class="map__item"><a class="map__link" href="">Горно-Алтайск</a></li>
                <li class="map__item"><a class="map__link" href="">Анадырь</a></li>
                <li class="map__item"><a class="map__link" href="">Белгород</a></li>
                <li class="map__item"><a class="map__link" href="">Великий Новгород</a></li>
                <li class="map__item"><a class="map__link" href="">Волгоград</a></li>
                <li class="map__item"><a class="map__link" href="">Грозный</a></li>
                <li class="map__item"><a class="map__link" href="">Архангельск</a></li>
                <li class="map__item"><a class="map__link" href="">Биробиджан</a></li>
                <li class="map__item"><a class="map__link" href="">Владивосток</a></li>
                <li class="map__item"><a class="map__link" href="">Вологда</a></li>
                <li class="map__item"><a class="map__link" href="">Екатеринбург</a></li>
                <li class="map__item"><a class="map__link" href="">Астрахань</a></li>
                <li class="map__item"><a class="map__link" href="">Благовещенск</a></li>
                <li class="map__item"><a class="map__link" href="">Владикавказ</a></li>
                <li class="map__item"><a class="map__link" href="">Воронеж</a></li>
                <li class="map__item"><a class="map__link" href="">Иваново</a></li>
                <li class="map__item"><a class="map__link" href="">Орел</a></li>
                <li class="map__item"><a class="map__link" href="">Петрозаводск</a></li>
                <li class="map__item"><a class="map__link" href="">Рязань</a></li>
                <li class="map__item"><a class="map__link" href="">Саранск</a></li>
                <li class="map__item"><a class="map__link" href="">Смоленск</a></li>
                <li class="map__item"><a class="map__link" href="">Пенза</a></li>
                <li class="map__item"><a class="map__link" href="">Псков</a></li>
                <li class="map__item"><a class="map__link" href="">Самара</a></li>
                <li class="map__item"><a class="map__link" href="">Севастополь</a></li>
                <li class="map__item"><a class="map__link" href="">Сыктывкар</a></li>
              </ul>
            </li>
            <li class="map__region">
              <h3 class="map__title title-h3">Амурская область</h3>
              <ul class="map__list" id="region-2">
                <li class="map__item"><a class="map__link" href="">Абакан</a></li>
                <li class="map__item"><a class="map__link" href="">Барнаул</a></li>
                <li class="map__item"><a class="map__link" href="">Брянск</a></li>
                <li class="map__item"><a class="map__link" href="">Владимир</a></li>
                <li class="map__item"><a class="map__link" href="">Горно-Алтайск</a></li>
                <li class="map__item"><a class="map__link" href="">Анадырь</a></li>
                <li class="map__item"><a class="map__link" href="">Белгород</a></li>
                <li class="map__item"><a class="map__link" href="">Великий Новгород</a></li>
                <li class="map__item"><a class="map__link" href="">Волгоград</a></li>
                <li class="map__item"><a class="map__link" href="">Грозный</a></li>
                <li class="map__item"><a class="map__link" href="">Архангельск</a></li>
                <li class="map__item"><a class="map__link" href="">Биробиджан</a></li>
                <li class="map__item"><a class="map__link" href="">Владивосток</a></li>
                <li class="map__item"><a class="map__link" href="">Вологда</a></li>
                <li class="map__item"><a class="map__link" href="">Екатеринбург</a></li>
                <li class="map__item"><a class="map__link" href="">Астрахань</a></li>
                <li class="map__item"><a class="map__link" href="">Благовещенск</a></li>
                <li class="map__item"><a class="map__link" href="">Владикавказ</a></li>
                <li class="map__item"><a class="map__link" href="">Воронеж</a></li>
                <li class="map__item"><a class="map__link" href="">Иваново</a></li>
                <li class="map__item"><a class="map__link" href="">Орел</a></li>
                <li class="map__item"><a class="map__link" href="">Петрозаводск</a></li>
                <li class="map__item"><a class="map__link" href="">Рязань</a></li>
                <li class="map__item"><a class="map__link" href="">Саранск</a></li>
                <li class="map__item"><a class="map__link" href="">Смоленск</a></li>
                <li class="map__item"><a class="map__link" href="">Пенза</a></li>
                <li class="map__item"><a class="map__link" href="">Псков</a></li>
                <li class="map__item"><a class="map__link" href="">Самара</a></li>
                <li class="map__item"><a class="map__link" href="">Севастополь</a></li>
                <li class="map__item"><a class="map__link" href="">Сыктывкар</a></li>
              </ul>
            </li>
            <li class="map__region">
              <h3 class="map__title title-h3">Челябинская область</h3>
              <ul class="map__list" id="region-3">
                <li class="map__item"><a class="map__link" href="">Абакан</a></li>
                <li class="map__item"><a class="map__link" href="">Барнаул</a></li>
                <li class="map__item"><a class="map__link" href="">Брянск</a></li>
                <li class="map__item"><a class="map__link" href="">Владимир</a></li>
                <li class="map__item"><a class="map__link" href="">Горно-Алтайск</a></li>
                <li class="map__item"><a class="map__link" href="">Анадырь</a></li>
                <li class="map__item"><a class="map__link" href="">Белгород</a></li>
                <li class="map__item"><a class="map__link" href="">Великий Новгород</a></li>
                <li class="map__item"><a class="map__link" href="">Волгоград</a></li>
                <li class="map__item"><a class="map__link" href="">Грозный</a></li>
                <li class="map__item"><a class="map__link" href="">Архангельск</a></li>
                <li class="map__item"><a class="map__link" href="">Биробиджан</a></li>
                <li class="map__item"><a class="map__link" href="">Владивосток</a></li>
                <li class="map__item"><a class="map__link" href="">Вологда</a></li>
                <li class="map__item"><a class="map__link" href="">Екатеринбург</a></li>
                <li class="map__item"><a class="map__link" href="">Астрахань</a></li>
                <li class="map__item"><a class="map__link" href="">Благовещенск</a></li>
                <li class="map__item"><a class="map__link" href="">Владикавказ</a></li>
                <li class="map__item"><a class="map__link" href="">Воронеж</a></li>
                <li class="map__item"><a class="map__link" href="">Иваново</a></li>
                <li class="map__item"><a class="map__link" href="">Орел</a></li>
                <li class="map__item"><a class="map__link" href="">Петрозаводск</a></li>
                <li class="map__item"><a class="map__link" href="">Рязань</a></li>
                <li class="map__item"><a class="map__link" href="">Саранск</a></li>
                <li class="map__item"><a class="map__link" href="">Смоленск</a></li>
                <li class="map__item"><a class="map__link" href="">Пенза</a></li>
                <li class="map__item"><a class="map__link" href="">Псков</a></li>
                <li class="map__item"><a class="map__link" href="">Самара</a></li>
                <li class="map__item"><a class="map__link" href="">Севастополь</a></li>
                <li class="map__item"><a class="map__link" href="">Сыктывкар</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>