.map {
  padding: 0 0 100px;

  @media (max-width: $md3+px) {
    padding: 0 0 50px;
  }

  &__inner {
    @media (max-width: 650px) {
      margin: 0 -15px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //max-width: 100%;
    width: 100%;
    padding: 24px 30px;
    border: 2px solid $grey;
    background-image: url('../images/icons/map.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 430px 300px;

    @media (max-width: 650px) {
      padding: 15px;
    }
    
    span {
      margin: 0 15px 0 0;
    }

    &.js-active {
      .map__icon {
        transform: rotate(180deg);

        svg path {
          fill: $accent;
        }
      }
    }
  }

  &__icon {
    transition: all 0.3s;

  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  &__body {
    padding: 30px;
    border: 2px solid $grey;
    border-top: none;

    @media (max-width: 650px) {
      padding: 15px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    margin: 0 0 30px;

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  &__input {
    display: block;
    margin: 0 30px 0 0;
    padding: 15px 20px;
    max-width: 355px;
    width: 100%;
    border: 2px solid $grey;
    
    @media (max-width: 450px) {
      margin: 0 0 15px;
      max-width: 100%;
    }

    &:placeholder {
      color: $mainColor-light;
    }
  }

  &__search-text {
    span {
      border-bottom: 1px dashed $mainColor-light;
    }
  }

  &__regions {
    height: 290px;
    overflow-y: scroll;
  }

  &__title {
    margin: 0 0 20px;
  }
  
  &__region {
    margin: 0 0 30px;
  }

  &__list {
    max-width: 100%;
    column-count: 6;

    @media (max-width: 1150px) {
      column-count: 5;
    }

    @media (max-width: 900px) {
      column-count: 4;
    }

    @media (max-width: 700px) {
      column-count: 3;
    }

    @media (max-width: 550px) {
      column-count: 2;
    }
  }

  &__item {
    //display: inline-block;
    line-height: 1.9;
  }

  &__link {
    font-weight: 600;
    transition: all 0.2s;
    line-height: 1.2;
    
    &:hover {
      color: $accent;
    }
  }
}