.footer {
  background-color: $grey;

  &__inner {
    position: relative;
    padding: 20px 0 0;
    
    @media (max-width: $md3+px) {
      margin: 0 -15px;
    }
  }

  &__to-top {
    position: absolute;
    width: 53px;
    height: 17px;
    left: 20px;
    top: -22px;
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
    svg {
      width: 53px;
      height: 17px;
      
      path {
        transition: all 0.2s;
      }
    }

    &:hover {
      transform: rotate(90deg) translateX(-5px);
      
      svg path {
        stroke: $accent;
      }
    }
    
    &::before {
      content: "";
      position: absolute;
      top: -16px;
      left: 16px;
      width: 50px;
      height: 50px;
      background-color: $grey;
      z-index: -1;
    }
    
    &::after {
      content: "";
      position: absolute;
      top: -16px;
      left: 16px;
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-left: 16px solid $white;
      border-bottom: 25px solid transparent;
      z-index: -1;
    }
  }

  //display: none;
  padding: 0 0 300px;
  .top-panel {
    
    @media (max-width: $md3+px) {
      padding: 0 0 0 15px;
    }
    &__menu {
      &::before {
        display: none;
      }
    }

    &__cart {
      order: 5;
      @media (max-width: $md3+px) {
        margin: 0;
      }

      @media (max-width: 600px) {
        display: flex;
      }
    }

    &__form {
      width: calc(100% - 220px);

      @media (max-width: 430px) {
        width: calc(100% - 165px);
      }

      @media (max-width: 400px) {
        width: calc(100% - 110px);
      }
    }

    &__address {

      @media (max-width: 600px) {
        display: block;
      }

      @media (max-width: 430px) {
        display: none;
      }
    }
  }

  .search-form {
    &__input {
      padding: 10px 80px 10px 15px;
      //background-color: $grey;
    }
  }

  &__panel {
    display: none;

    @media (max-width: 430px) {
      display: flex;

      @media (max-width: 400px) {
        justify-content: space-evenly;
      }
    }
  }

  &__address {
    flex: 0 0 45px;
    height: 45px;
    background: url('../images/icons/map-marker.svg') center no-repeat;
  }

  &__phone {
    display: none;
    flex: 0 0 45px;
    height: 45px;
    background: url('../images/icons/smartphone.svg') center no-repeat;

    @media (max-width: 400px) {
      display: block;
    }
  }
}