<section class="footer">
  <div class="container">
    <div class="footer__inner">
      <a class="footer__to-top" href="#page-top">
        <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019" stroke="#252525"
                stroke-width="2"/>
        </svg>
      </a>
      <div class="top-panel">
        <a class="top-panel__logo" href="">
          <img src="images/icons/logo.svg" alt="Энергия-М">
        </a>
        <a class="top-panel__address" href="#map"><span>Петропавловск-Камчатский</span>
          c 4:00 до 13:00 МСК
        </a>
        <button class="top-panel__search-btn" type="button"></button>
        <div class="top-panel__form">
          <form class="top-panel__search-form search-form">
            <input class="search-form__input" id="mobile-search" type="text" placeholder="Поиск по сайту" tabindex='2' autofocus
                   autocomplete="off">
            <a class="search-form__btn search-form__btn--mic">
              <svg class="search-form__icon" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14.0001 0C11.2954 0 9.09497 2.20046 9.09497 4.90509V14.5453C9.09497 17.2496 11.2954 19.4501 14.0001 19.4501C16.7047 19.4501 18.9051 17.265 18.9051 14.579V4.90509C18.9051 2.20046 16.7047 0 14.0001 0ZM16.861 14.5788C16.861 16.1375 15.5775 17.406 14.0001 17.406C12.4226 17.406 11.1388 16.1228 11.1388 14.545V4.90509C11.1388 3.3273 12.4223 2.04378 14.0001 2.04378C15.5778 2.04378 16.8614 3.3273 16.861 4.90509V14.5788Z"
                    fill="#929292"/>
                <path d="M15.0219 22.3794H12.9781V26.978H15.0219V22.3794Z" fill="#929292"/>
                <path
                    d="M16.691 25.9561H11.309C10.7446 25.9561 10.2871 26.4135 10.2871 26.9779C10.2871 27.5424 10.7446 27.9998 11.309 27.9998H16.691C17.2554 27.9998 17.7129 27.5424 17.7129 26.9779C17.7129 26.4135 17.2554 25.9561 16.691 25.9561Z"
                    fill="#929292"/>
                <path
                    d="M21.7324 12.8423C21.1679 12.8423 20.7105 13.2997 20.7105 13.8642V14.6817C20.7105 18.3816 17.7 21.3922 14 21.3922C10.2997 21.3922 7.28951 18.3817 7.28951 14.6817V13.8642C7.28951 13.2997 6.83205 12.8423 6.26762 12.8423C5.70319 12.8423 5.24573 13.2997 5.24573 13.8642V14.6817C5.24573 19.5088 9.17289 23.436 14 23.436C18.8271 23.436 22.7543 19.5088 22.7543 14.6817V13.8642C22.7543 13.2998 22.2968 12.8423 21.7324 12.8423Z"
                    fill="#929292"/>
              </svg>
            </a>
            <button class="search-form__btn" type="submit">
              <svg class="search-form__icon" width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.5352 13.2477L10.3141 10.0266C11.1125 9.05312 11.5938 7.80625 11.5938 6.44727C11.5938 3.33008 9.06445 0.800781 5.94727 0.800781C2.82734 0.800781 0.300781 3.33008 0.300781 6.44727C0.300781 9.56445 2.82734 12.0938 5.94727 12.0938C7.30625 12.0938 8.55039 11.6152 9.52383 10.8168L12.7449 14.0352C12.9637 14.2539 13.3164 14.2539 13.5352 14.0352C13.7539 13.8191 13.7539 13.4637 13.5352 13.2477ZM5.94727 10.9699C3.45078 10.9699 1.42188 8.94102 1.42188 6.44727C1.42188 3.95352 3.45078 1.92188 5.94727 1.92188C8.44102 1.92188 10.4727 3.95352 10.4727 6.44727C10.4727 8.94102 8.44102 10.9699 5.94727 10.9699Z"
                    fill="#252525"/>
              </svg>
            </button>
          </form>
        </div>
        <form class="top-panel__search search-form">
          <input class="search-form__input" type="text" placeholder="Поиск по сайту" autocomplete="off">
          <button class="search-form__btn" type="submit">
            <svg class="search-form__icon" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M13.5352 13.2477L10.3141 10.0266C11.1125 9.05312 11.5938 7.80625 11.5938 6.44727C11.5938 3.33008 9.06445 0.800781 5.94727 0.800781C2.82734 0.800781 0.300781 3.33008 0.300781 6.44727C0.300781 9.56445 2.82734 12.0938 5.94727 12.0938C7.30625 12.0938 8.55039 11.6152 9.52383 10.8168L12.7449 14.0352C12.9637 14.2539 13.3164 14.2539 13.5352 14.0352C13.7539 13.8191 13.7539 13.4637 13.5352 13.2477ZM5.94727 10.9699C3.45078 10.9699 1.42188 8.94102 1.42188 6.44727C1.42188 3.95352 3.45078 1.92188 5.94727 1.92188C8.44102 1.92188 10.4727 3.95352 10.4727 6.44727C10.4727 8.94102 8.44102 10.9699 5.94727 10.9699Z"
                  fill="#252525"/>
            </svg>
          </button>
        </form>
        <a class="top-panel__phone" data-hystmodal="#call"></a>
        <div class="top-panel__contacts contacts">
          <div class="contacts__item">
            <a class="contacts__phone" href="tel:83852332211">8 (3852) 33-22-11</a>
            <p class="contacts__text">zakaz@kotel-kvr.su</p>
            <a class="contacts__modal" href="#" data-hystmodal="#message-us">Написать на email</a>
          </div>
          <div class="contacts__item">
            <a class="contacts__phone" href="tel:88007001579">8-800-700-15-79</a>
            <p class="contacts__text">Бесплатно по России</p>
            <a class="contacts__request" href="" data-hystmodal="#call-request">Обратный звонок</a>
          </div>
        </div>
        <a class="top-panel__cart cart" href="">
          <span class="cart__count">9</span>
          <svg class="cart__icon" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9.76234 19.3996H9.76372C9.76488 19.3996 9.76604 19.3994 9.76719 19.3994H25.8615C26.2577 19.3994 26.6061 19.1392 26.715 18.762L30.2658 6.45729C30.3423 6.19202 30.2887 5.90683 30.1211 5.68665C29.9532 5.46646 29.6909 5.33691 29.4123 5.33691H7.71509L7.08053 2.50954C6.99014 2.10739 6.62997 1.82129 6.21387 1.82129H0.887695C0.397382 1.82129 0 2.21474 0 2.7002C0 3.18565 0.397382 3.5791 0.887695 3.5791H5.50186C5.61421 4.08012 8.53852 17.1095 8.70681 17.859C7.7634 18.2651 7.10156 19.1964 7.10156 20.2783C7.10156 21.7322 8.29625 22.915 9.76465 22.915H25.8615C26.3518 22.915 26.7492 22.5216 26.7492 22.0361C26.7492 21.5507 26.3518 21.1572 25.8615 21.1572H9.76465C9.27526 21.1572 8.87695 20.7629 8.87695 20.2783C8.87695 19.7945 9.27387 19.4008 9.76234 19.3996V19.3996ZM28.2354 7.09473L25.1918 17.6416H10.4767L8.10947 7.09473H28.2354Z"
                fill="white"/>
            <path
                d="M8.87695 25.5469C8.87695 27.0007 10.0716 28.1836 11.54 28.1836C13.0084 28.1836 14.2031 27.0007 14.2031 25.5469C14.2031 24.093 13.0084 22.9102 11.54 22.9102C10.0716 22.9102 8.87695 24.093 8.87695 25.5469ZM11.54 24.668C12.0294 24.668 12.4277 25.0623 12.4277 25.5469C12.4277 26.0314 12.0294 26.4258 11.54 26.4258C11.0507 26.4258 10.6523 26.0314 10.6523 25.5469C10.6523 25.0623 11.0507 24.668 11.54 24.668Z"
                fill="white"/>
            <path
                d="M21.4231 25.5469C21.4231 27.0007 22.6178 28.1836 24.0862 28.1836C25.5546 28.1836 26.7493 27.0007 26.7493 25.5469C26.7493 24.093 25.5546 22.9102 24.0862 22.9102C22.6178 22.9102 21.4231 24.093 21.4231 25.5469ZM24.0862 24.668C24.5756 24.668 24.9739 25.0623 24.9739 25.5469C24.9739 26.0314 24.5756 26.4258 24.0862 26.4258C23.5968 26.4258 23.1985 26.0314 23.1985 25.5469C23.1985 25.0623 23.5968 24.668 24.0862 24.668Z"
                fill="white"/>
          </svg>
          <span class="cart__total rub">1 350 000</span>
        </a>
      </div>
      <div class="footer__panel">
        <a class="footer__address" href="#map"></a>
        <a class="footer__phone" data-hystmodal="#call"></a>
      </div>
      <div class="footer__center">
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item"><a class="footer__link" href="">О заводе</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Покупка и оплата</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Прайсы</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Статьи</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Контакты</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Опросные листы</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Словарь терминов</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Награды</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">НАКС технология сварки</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Виртуальныйе туры</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Водогрейные котлы</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Паровые котлы</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Модульные котельные</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Топки</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Циклоны</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Топливоподача и шлакоудаление</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Транспортеры</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Скиповые подъемники</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Дымососы и вентиляторы</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Колосники чугунные</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Электроды</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Насосы</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Теплообменники</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Водоподготовка</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Дымовые трубы</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Котловая автоматика</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Запасные части котлов</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Комплектующие</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Трубные системы котлов</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Услуги</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Горелки Unigas</a></li>
            <li class="footer__nav-item"><a class="footer__link" href="">Очистные сооружения</a></li>
          </ul>
        </nav>
        <form class="call-request">
          <label for="callback" class="call-request__label">
            <span class="call-request__text title-h2">
              Для получения бесплатной консультации укажите ваш номер телефона
            </span>
          </label>
          <div class="call-request__body">
            <input class="call-request__input" type="tel" id="callback" placeholder="Номер телефона">
            <button class="call-request__btn" type="submit">
              <svg class="call-request__arrow" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 5.5L28 5.5M28 5.5L23.3714 1M28 5.5L23.3714 10" stroke="white" stroke-width="2"/>
              </svg>
            </button>
          </div>
          <p class="call-request__privacy">
            Посещая сайт Котельного завода «РЭП»,
            Вы соглашаетесь с
            <a class="call-request__link" href="#">Правилами и условиями использования</a> и
            <a class="call-request__link" href="#">политикой обработки персональных данных</a> данного сайта.
          </p>
        </form>
      </div>
      <div class="footer__cities city-search" id="city-search">
        <div class="city-search__head">
          <h3 class="city-search__title title-h2">Мы работаем с этими городами</h3>
          <div class="city-search__search">
            <div class="city-search__input-wrapper">
              <input class="city-search__input search" type="text" name="Город" placeholder="Введите город">
            </div>
            <a class="city-search__search-text" href=""><span>Не нашли свой город в списке?</span></a>
          </div>
        </div>
        <ul class="city-search__list list-to-hide">
          <li class="city-search__item"><a class="city-search__link" href="">Абакан</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Барнаул</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Брянск</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Владимир</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Горно-Алтайск</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Анадырь</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Белгород</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Великий Новгород</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Волгоград</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Грозный</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Архангельск</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Биробиджан</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Владивосток</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Вологда</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Екатеринбург</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Астрахань</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Благовещенск</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Владикавказ</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Воронеж</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Иваново</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Орел</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Петрозаводск</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Рязань</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Саранск</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Смоленск</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Пенза</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Псков</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Самара</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Севастополь</a></li>
          <li class="city-search__item"><a class="city-search__link" href="">Сыктывкар</a></li>
        </ul>

        <div class="city-search__list-wrapper">
          <ul class="city-search__list list">
            <li class="city-search__item"><a class="city-search__link" href="">Абакан</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Барнаул</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Брянск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владимир</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Горно-Алтайск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Анадырь</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Белгород</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Великий Новгород</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Волгоград</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Грозный</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Архангельск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Биробиджан</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владивосток</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Вологда</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Екатеринбург</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Астрахань</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Благовещенск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владикавказ</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Воронеж</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Иваново</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Орел</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Петрозаводск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Рязань</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Саранск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Смоленск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Пенза</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Псков</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Самара</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Севастополь</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Сыктывкар</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Абакан</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Барнаул</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Брянск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владимир</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Горно-Алтайск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Анадырь</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Белгород</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Великий Новгород</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Волгоград</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Грозный</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Архангельск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Биробиджан</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владивосток</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Вологда</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Екатеринбург</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Астрахань</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Благовещенск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владикавказ</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Воронеж</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Иваново</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Орел</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Петрозаводск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Рязань</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Саранск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Смоленск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Пенза</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Псков</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Самара</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Севастополь</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Сыктывкар</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Абакан</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Барнаул</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Брянск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владимир</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Горно-Алтайск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Анадырь</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Белгород</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Великий Новгород</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Волгоград</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Грозный</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Архангельск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Биробиджан</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владивосток</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Вологда</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Екатеринбург</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Астрахань</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Благовещенск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владикавказ</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Воронеж</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Иваново</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Орел</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Петрозаводск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Рязань</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Саранск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Смоленск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Пенза</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Псков</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Самара</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Севастополь</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Сыктывкар</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Абакан</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Барнаул</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Брянск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владимир</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Горно-Алтайск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Анадырь</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Белгород</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Великий Новгород</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Волгоград</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Грозный</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Архангельск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Биробиджан</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владивосток</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Вологда</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Екатеринбург</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Астрахань</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Благовещенск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Владикавказ</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Воронеж</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Иваново</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Орел</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Петрозаводск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Рязань</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Саранск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Смоленск</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Пенза</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Псков</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Самара</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Севастополь</a></li>
            <li class="city-search__item"><a class="city-search__link" href="">Сыктывкар</a></li>
          </ul>
        </div>
        <button class="city-search__toggle" type="button"><span class="city-search__show">Показать все города</span><span class="city-search__hide">Свернуть</span></button>

      </div>
      <p class="footer__copy">
        Права на тексты, фотографии, изображения и иные результаты интеллектуальной деятельности, расположенные на сайте kvzr.ru, подлежат
        правовой охране в соответствии с действующим законодательством РФ, Гражданским кодексом РФ (часть четвертая) от 18.12.2006 № 230-ФЗ.
        Запрещено использование (воспроизведение, распространение, переработка и т.д.) любых материалов, размещенных на данном сайте, без
        письменного согласия правообладателя. Такое использование является незаконным и влечет ответственность, установленную действующим
        законодательством РФ.
        <span>Обращаем ваше внимание на то, что данный интернет-сайт носит информационный характер и не является публичной офертой, определяемой
          положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации о наличии, стоимости,
          комплектации указанных товаров и (или) услуг, обращайтесь к менеджерам отдела сбыта с помощью специальной формы связи или по
          телефону: 8 (3852) 29-97-41, 8 (3852) 29-97-42.
        </span>
      </p>
    </div>
  </div>
</section>