.accordions {
  margin: 0 0 100px;
  
  @media (max-width: $md3+px) {
    margin: 0 0 50px;
  }

  &__inner {
    display: flex;
    
    @media (max-width: 750px) {
      flex-direction: column;
    }
  }

  &__body {
    flex: 0 1 900px;
    margin: 0 20px 0 0;

    @media (max-width: 750px) {
      order: 2;
      margin: 0 -15px;
    }
  }

  &__aside {
    flex: 0 0 290px;
    position: relative;
    will-change: min-height;

    @media (max-width: 750px) {
      order: 1;
      margin: 0 -15px;
      flex-basis: auto;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0;
    padding: 23px 23px 22px 30px;
    width: 100%;
    text-transform: uppercase;
    background-color: $grey;

    @media (max-width: 750px) {
      padding: 20px 13px;
    }

    &:hover {
      .accordion__icon path {
        fill: $accent;
      }
    }

    &:first-child {
      margin: 0;
    }

    &.js-active {
      .accordions__btn-icon {
        transform: rotate(0);

        path {
          fill: $accent;
        }
      }
    }
    
    &::after {
      content: "";
      position: absolute;
    }
  }

  &__btn-text {
    margin: 0 20px 0 0;
  }

  &__btn-icon {
    flex: 0 0 20px;
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;

    path {
      transition: all 0.2s ease-in-out;
    }
  }



  &__content-wrapper {
    margin: 0;
    border: 2px solid $grey;
    max-height: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  &__content {
    padding: 22px 30px 40px;
  }

  &__text {
    line-height: 1.8;

    &--float {

    }
  }

  &__figure {
    float: left;
  }

  &__figcaption {
    font-weight: 600;
  }

  &__links {
    @media (max-width: 750px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__link {
    display: block;
    margin: 0 0 21px;
    font-weight: 600;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;

    @media (max-width: 750px) {
      display: inline-block;
      margin: 0;
      padding: 0 20px 20px 0;
      span {
        display: none;
      }
    }

    &:hover,
    &:active,
    &.js-active {
      color: $accent;
    }

    &:last-child {
      margin: 0;
    }
  }
  
  &__caption {
    margin: 0 0 20px;
    
    @media (max-width: 600px) {
      margin: 0 0 10px;
    }
  }

  &__nav {
    position: relative;
    padding: 20px;
    background-color: $white;
    border: 2px solid $grey;
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;

    @media (max-width: 750px) {
      background-color: $grey;
      padding: 10px 10px 0;
      box-shadow: 0px 2px 3px -1px $mainColor-light;
    }
  }

  .request {
    margin: 40px 0 0;

    @media (max-width: 750px) {
      display: none;
    }
    &__label {
      flex-direction: column;
    }

    &__text {
      margin: 0 0 10px;
      font-size: 12px;
      width: 100%;
    }

    &__input {
      margin: 0;
      padding: 11px 20px;
      width: 100%;
      background-color: $grey;
    }

    &__btn {
      height: 40px;
      bottom: 0;
    }
  }
}