<section class="accordions">
  <div class="container">
    <div class="accordions__inner">
      <div class="accordions__body">
        <button class="accordions__btn title-h2 js-active" type="button" id="features">
          <span class="accordions__btn-text">1. Особенности водогрейного котла КВм-1,1 с ТШПМ</span>
          <svg class="accordions__btn-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 13.7297L2.33333 16L10 8.54054L17.6667 16L20 13.7297L10 4L0 13.7297Z" fill="#252525"/>
          </svg>
        </button>
        <div class="accordions__content-wrapper js-opened">
          <div class="accordions__content">
            <p class="accordions__text">
              Водогрейный котел КВм 2,5 МВт имеет систему движения потока воды исключающую образование застойных зон, перегрев поверхностей
              нагрева, обеспечивает хороший теплосъем, отсутствие накипи и, следовательно, необходимость в водоподготовке. Качественная
              газоплотная теплоизоляция котла КВм 2,5 гарантирует максимальное уменьшение потерь тепла через стенки котла и отсутствие
              присосов
              холодного воздуха в топку, делая процесс горения топлива более интенсивным и эффективным.
            </p>
            <ul class="article-list">
              <li class="article-list__item">компактные размеры;</li>
              <li class="article-list__item">быстрый выход на номинальную мощность - 2-4 часа;</li>
              <li class="article-list__item">запас по мощности 15 %, сверх номинальной;</li>
              <li class="article-list__item">минимальные требования к качеству питательной воды;</li>
              <li class="article-list__item">удобные люки для очистки поверхностей нагрева;</li>
              <li class="article-list__item">заводская гарантия 2 отопительных сезона.</li>
            </ul>
          </div>
        </div>
        <button class="accordions__btn title-h2 js-active" type="button" id="structure">
          <span class="accordions__btn-text">2. Устройство водогрейного котла КВм-1,1</span>
          <svg class="accordions__btn-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 13.7297L2.33333 16L10 8.54054L17.6667 16L20 13.7297L10 4L0 13.7297Z" fill="#252525"/>
          </svg>
        </button>
        <div class="accordions__content-wrapper js-opened">
          <div class="accordions__content">
            <p class="accordions__text">
              Водогрейный твердотопливный стальной отопительный котел КВм-1,1 с топкой ТШПМ мощностью 1,1 Гкал (1,28 МВт), предназначен для
              получения горячей воды номинальной температурой на выходе из котла 115 °С рабочим давлением до 0,6 (6,0) МПа (кгс/см),
              используемой в системах централизованного теплоснабжения на нужды отопления, горячего водоснабжения.
            </p>
            <div class="accordions__text accordions__text--float">
              <figure class="accordions__figure">
                <img class="accordions__img" src="images/documents/scheme.jpg" alt="Схема водогрейного котла">
                <figcaption class="accordions__figcaption">Схема водогрейного котла</figcaption>
              </figure>
              Водогрейные котлы КВм-1,1 Гкал выполнены двухблочными - блок котла и механическая топка ТШПМ-1,45. Блок водогрейного котла
              представляет собой сварную конструкцию, состоящую из трубной системы (радиационной и конвективной поверхности нагрева),
              опорной рамы и каркаса с теплоизоляционными материалами, обшитого листовой сталью. Котлы имеют П-образную сомкнутую
              компоновку. Топочная камера угольных котлов состоит из труб Ø 57x3,5 мм. Блок водогрейного котла представляет собой сварную
              конструкцию, состоящую из трубной системы Блок водогрейного котла представляет собой сварную конструкцию, состоящую из
              Конвективная поверхность нагрева состоит из пакетов выполненных из труб Ø 57x3,5 мм, для интенсификации теплообмена трубы
              пакетов расположены в шахматном порядке. Газы в конвективной части делают два хода и выходят через газоход в верхней части
              задней стенки котла. Топочная камера водогрейного котла выполнена газоплотной путем плавникового оребрения. В газоплотной
              части котельного блока изоляция выполнена облегченной из плит ПТЭ. В негазоплотной части котельного блока теплоизоляция
              выполнена из муллитокремнеземистого картона и войлока. Обшивка водогрейных котлов выполнена из стальных листов. Для очистки
              конвективных поверхностей нагрева от сажистых и золовых отложений предусмотрены двери.
            </div>
          </div>
        </div>
        <button class="accordions__btn title-h2 js-active" type="button" id="how-it-works">
          <span class="accordions__btn-text">3. Принцип работы водогрейного котла КВм-1,1 с топкой ТШПМ-1,45</span>
          <svg class="accordions__btn-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 13.7297L2.33333 16L10 8.54054L17.6667 16L20 13.7297L10 4L0 13.7297Z" fill="#252525"/>
          </svg>
        </button>
        <div class="accordions__content-wrapper js-opened">
          <div class="accordions__content">
            <p class="accordions__text">
              Водогрейные котлы на твердом топливе КВр с ручными топками устанавливаются в отопительных котельных с ручными топливоподачей и
              шлакоудалением. Блок водогрейного котла и топка имеют моноблочное устройство и цельную конструкцию.

              На фронте котла выполнена топочная загрузочная дверка. При применении котла для сжигания дров и брикетированных древесных
              отходов, на фронте котла для удобства обслуживания выполняется две топочные загрузочные дверки.

              Загрузка угля осуществляется с фронта котла через топочную дверь вручную. Распределение угля по топочной решетке должно быть
              равномерным, высота слоя должна быть не более 200 мм (2 – 3 диаметра среднефракционного куска топлива). При работе на дровах и
              брикетированных древесных отходах загрузка топлива осуществляется с фронта котла через верхнюю и нижнюю топочные дверцы,
              вручную. Распределение топлива, при сжигании мелкофракционных древесных отходов, по топочной решетке должно быть равномерным,
              высота слоя должна быть не более 200 мм, загрузка крупных дров и брикетированных древесных отходов по высоте допускается до
              нижней кромки проема верхней загрузочной дверки.

              Провал шлака происходит через отверстия в колосниках и обратно через загрузочную дверцу в котельный зал.
            </p>
          </div>
        </div>
      </div>
      <aside class="accordions__aside">
        <nav class="accordions__nav">
          <h3 class="accordions__caption title-h3">Описание товара</h3>
          <div class="accordions__links">
            <a class="accordions__link" href="#features">1.Особенности
              <span>водогрейного котла КВм-1,1 с ТШПМ</span></a>
            <a class="accordions__link" href="#structure">2.Устройство <span>водогрейного котла КВм-1,1</span></a>
            <a class="accordions__link" href="#how-it-works">3.Принцип работы <span>водогрейного котла КВм-1,1 с топкой ТШПМ-1,45</span></a>
          </div>
          <form class="accordions__request request">
            <label class="request__label">
              <span class="request__text">
                Для консультации
                <span>укажите номер вашего телефона</span>
              </span>
              <input class="request__input" type="tel" name="request-call" placeholder="Номер телефона" autocomplete="off">
              <button class="request__btn" type="submit">
                <svg class="request__btn-arrow" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 5.5L28 5.5M28 5.5L23.3714 1M28 5.5L23.3714 10" stroke="white" stroke-width="2"/>
                </svg>
              </button>
            </label>
          </form>
        </nav>
      </aside>
    </div>
  </div>
</section>