.documents {
  padding: 100px 0 100px;
  background-color: $grey;
  background-image: url('../images/icons/big-m-white.svg');
  background-position: right center;
  min-height: 882px;
  background-repeat: no-repeat;
  background-size: 1100px 990px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -20px;
  }

  &__item {
    //max-width: 388px;
    //flex: 0 1 calc(33.333% - 20px);
    min-width: 0;
    //max-width: unset;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.333% - 20px);
    //flex-basis: 388px;
    margin: 0 0 20px 20px;
    padding: 30px;
    background-color: $white;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    
    &:hover {
      border-color: $accent;
    }

    &--wide {
      padding: 10px;
      flex-basis: calc(50% - 20px);
      display: flex;
      align-items: center;

      .documents__slider {
        margin: 0;
        max-width: 150px;
      }
      
      .documents__link {
        padding: 0 20px 0 0;
      }
    }
  }

  &__info {
    max-width: 380px;
    width: 100%;
    margin: 0 20px 0 0;
  }

  &__title {
    margin: 0 0 20px;
    font-weight: 700;
  }
  
  &__text {
    margin: 0 0 20px;
    color: rgba($mainColor, 0.8);
    line-height: 1.5;
  }

  &__slider {
    margin: 0 0 20px;
    height: 200px;
  }

  &__image {
    width: 154px;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slider-nav {
    flex-direction: row;

    &__prev {
      transform: rotate(0);
    }

    &__arrow {
      margin: 0 17px 0 0;

      &:hover {
        svg path {
          stroke: $accent;
        }
      }

      svg {
        width: 50px;
        height: 14px;

        path {
          stroke: $mainColor-light;
          transition: all 0.2s;
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__link {
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    span {
      border-bottom: 1px dashed $mainColor-light;
    }

    &:hover {
      color: $accent;
    }
  }
}