<section class="documents">
  <div class="container">
    <div class="documents__inner">
      <div class="documents__item">
        <div class="documents__desktop">
          <h1 class="documents__title title-h1">Патенты</h1>
          <p class="documents__text">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности
            представляет собой</p>
          <div class="documents__slider patent-slider swiper">
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/01.png" target="_blank">
                <img src="images/documents/01.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/02.png" target="_blank">
                <img src="images/documents/02.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/03.png" target="_blank">
                <img src="images/documents/03.png" alt="Патент">
              </a>
            </div>
          </div>
          <div class="documents__action patent-nav">
            <div class="slider-nav">
              <button class="slider-nav__arrow slider-nav__prev" type="button">
                <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019" stroke="#252525"
                        stroke-width="2"/>
                </svg>
              </button>
              <button class="slider-nav__arrow slider-nav__next" type="button">
                <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.528381 8.35049L50.9053 8.35049M50.9053 8.35049L40.8299 1.00049M50.9053 8.35049L40.8299 15.7005"
                        stroke="#252525" stroke-width="2"/>
                </svg>
              </button>
            </div>
            <a class="documents__link" href=""><span>Смотреть все</span></a>
          </div>
        </div>
        <div class="documents__mobile">
          <div class="documents__info">
            <h1 class="documents__title title-h1">Патенты</h1>
            <p class="documents__text">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности
              представляет собой</p>
            <div class="documents__action patent-nav">
              <div class="slider-nav">
                <button class="slider-nav__arrow slider-nav__prev" type="button">
                  <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019" stroke="#252525"
                          stroke-width="2"/>
                  </svg>
                </button>
                <button class="slider-nav__arrow slider-nav__next" type="button">
                  <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.528381 8.35049L50.9053 8.35049M50.9053 8.35049L40.8299 1.00049M50.9053 8.35049L40.8299 15.7005"
                          stroke="#252525" stroke-width="2"/>
                  </svg>
                </button>
              </div>
              <a class="documents__link" href=""><span>Смотреть все</span></a>
            </div>
          </div>
          <div class="documents__slider patent-slider swiper">
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/01.png" target="_blank">
                <img src="images/documents/01.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/02.png" target="_blank">
                <img src="images/documents/02.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/03.png" target="_blank">
                <img src="images/documents/03.png" alt="Патент">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="documents__item">
        <div class="documents__desktop">
          <h1 class="documents__title title-h1">Сертификаты</h1>
          <p class="documents__text">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности
            представляет собой</p>
          <div class="documents__slider cert-slider swiper">
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/02.png" target="_blank">
                <img src="images/documents/02.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/03.png" target="_blank">
                <img src="images/documents/03.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/01.png" target="_blank">
                <img src="images/documents/01.png" alt="Патент">
              </a>
            </div>
          </div>
          <div class="documents__action cert-nav ">
            <div class="slider-nav">
              <button class="slider-nav__arrow slider-nav__prev" type="button">
                <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019" stroke="#252525"
                        stroke-width="2"/>
                </svg>
              </button>
              <button class="slider-nav__arrow slider-nav__next" type="button">
                <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.528381 8.35049L50.9053 8.35049M50.9053 8.35049L40.8299 1.00049M50.9053 8.35049L40.8299 15.7005"
                        stroke="#252525" stroke-width="2"/>
                </svg>
              </button>
            </div>
            <a class="documents__link" href=""><span>Смотреть все</span></a>
          </div>
        </div>
        <div class="documents__mobile">
          <div class="documents__info">
            <h1 class="documents__title title-h1">Сертификаты</h1>
            <p class="documents__text">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности
              представляет собой</p>
            <div class="documents__action cert-nav ">
              <div class="slider-nav">
                <button class="slider-nav__arrow slider-nav__prev" type="button">
                  <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019" stroke="#252525"
                          stroke-width="2"/>
                  </svg>
                </button>
                <button class="slider-nav__arrow slider-nav__next" type="button">
                  <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.528381 8.35049L50.9053 8.35049M50.9053 8.35049L40.8299 1.00049M50.9053 8.35049L40.8299 15.7005"
                          stroke="#252525" stroke-width="2"/>
                  </svg>
                </button>
              </div>
              <a class="documents__link" href=""><span>Смотреть все</span></a>
            </div>
          </div>
          <div class="documents__slider cert-slider swiper">
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/02.png" target="_blank">
                <img src="images/documents/02.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/03.png" target="_blank">
                <img src="images/documents/03.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/01.png" target="_blank">
                <img src="images/documents/01.png" alt="Патент">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="documents__item">
        <div class="documents__desktop">
          <h1 class="documents__title title-h1">Награды</h1>
          <p class="documents__text">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности
            представляет собой</p>
          <div class="documents__slider award-slider swiper">
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/03.png" target="_blank">
                <img src="images/documents/03.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/01.png" target="_blank">
                <img src="images/documents/01.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/02.png" target="_blank">
                <img src="images/documents/02.png" alt="Патент">
              </a>
            </div>
          </div>
          <div class="documents__action award-nav ">
            <div class="slider-nav">
              <button class="slider-nav__arrow slider-nav__prev" type="button">
                <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019" stroke="#252525"
                        stroke-width="2"/>
                </svg>
              </button>
              <button class="slider-nav__arrow slider-nav__next" type="button">
                <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.528381 8.35049L50.9053 8.35049M50.9053 8.35049L40.8299 1.00049M50.9053 8.35049L40.8299 15.7005"
                        stroke="#252525" stroke-width="2"/>
                </svg>
              </button>
            </div>
            <a class="documents__link" href=""><span>Смотреть все</span></a>
          </div>
        </div>
        <div class="documents__mobile">
          <div class="documents__info">
            <h1 class="documents__title title-h1">Награды</h1>
            <p class="documents__text">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности
              представляет собой</p>
            <div class="documents__action award-nav ">
              <div class="slider-nav">
                <button class="slider-nav__arrow slider-nav__prev" type="button">
                  <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019" stroke="#252525"
                          stroke-width="2"/>
                  </svg>
                </button>
                <button class="slider-nav__arrow slider-nav__next" type="button">
                  <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.528381 8.35049L50.9053 8.35049M50.9053 8.35049L40.8299 1.00049M50.9053 8.35049L40.8299 15.7005"
                          stroke="#252525" stroke-width="2"/>
                  </svg>
                </button>
              </div>
              <a class="documents__link" href=""><span>Смотреть все</span></a>
            </div>
          </div>
          <div class="documents__slider award-slider swiper">
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/03.png" target="_blank">
                <img src="images/documents/03.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/01.png" target="_blank">
                <img src="images/documents/01.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/02.png" target="_blank">
                <img src="images/documents/02.png" alt="Патент">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="documents__item documents__item--wide">
        <div class="documents__mobile">
          <div class="documents__info">
            <h1 class="documents__title title-h1">Благодарственные письма</h1>
            <p class="documents__text">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности
              представляет собой</p>
            <div class="documents__action thanks-nav ">
              <div class="slider-nav">
                <button class="slider-nav__arrow slider-nav__prev" type="button">
                  <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019"
                          stroke="#252525"
                          stroke-width="2"/>
                  </svg>
                </button>
                <button class="slider-nav__arrow slider-nav__next" type="button">
                  <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.528381 8.35049L50.9053 8.35049M50.9053 8.35049L40.8299 1.00049M50.9053 8.35049L40.8299 15.7005"
                          stroke="#252525" stroke-width="2"/>
                  </svg>
                </button>
              </div>
              <a class="documents__link" href=""><span>Смотреть все</span></a>
            </div>
          </div>
          <div class="documents__slider thanks-slider swiper">
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/02.png" target="_blank">
                <img src="images/documents/02.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/03.png" target="_blank">
                <img src="images/documents/03.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/01.png" target="_blank">
                <img src="images/documents/01.png" alt="Патент">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="documents__item documents__item--wide">
        <div class="documents__mobile">
          <div class="documents__info">
            <h1 class="documents__title title-h1">Атестованная технология сварки</h1>
            <p class="documents__text">Задача организации, в особенности же постоянный количественный рост и сфера нашей активности
              представляет собой</p>
            <div class="documents__action attestation-nav ">
              <div class="slider-nav">
                <button class="slider-nav__arrow slider-nav__prev" type="button">
                  <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019"
                          stroke="#252525"
                          stroke-width="2"/>
                  </svg>
                </button>
                <button class="slider-nav__arrow slider-nav__next" type="button">
                  <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.528381 8.35049L50.9053 8.35049M50.9053 8.35049L40.8299 1.00049M50.9053 8.35049L40.8299 15.7005"
                          stroke="#252525" stroke-width="2"/>
                  </svg>
                </button>
              </div>
              <a class="documents__link" href=""><span>Смотреть все</span></a>
            </div>
          </div>
          <div class="documents__slider attestation-slider swiper">
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/01.png" target="_blank">
                <img src="images/documents/01.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/02.png" target="_blank">
                <img src="images/documents/02.png" alt="Патент">
              </a>
            </div>
            <div class="documents__slide">
              <a class="documents__image" href="images/documents/03.png" target="_blank">
                <img src="images/documents/03.png" alt="Патент">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>