<!-- amount or quantity -->
<div class="amount">
  <div class="amount__button amount__button--minus">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="29" viewBox="0 0 33 29"><defs><clipPath id="gd31a"><path fill="#fff" d="M0 29V0h33v29zM29.945 9.199H17.524V3.511L2.95 14.5l14.573 10.99v-5.688h12.42z"/></clipPath></defs><g><g><path fill="none" d="M29.945 19.803H17.524v5.688L2.95 14.501l14.573-10.99v5.688h12.42z"/><path fill="none" stroke="#e7e7e7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="6" d="M29.945 19.803v0H17.524v5.688L2.95 14.501v0l14.573-10.99v5.688h12.42v0z" clip-path="url(&quot;#gd31a&quot;)"/></g></g></svg>
  </div>
  <input type="text" class="amount__input" value="1">
  <div class="amount__button amount__button--plus">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="29" viewBox="0 0 33 29"><defs><clipPath id="i68ta"><path fill="#fff" d="M0 29V0h33v29zm3.009-9.197h12.42v5.688l14.574-10.99L15.43 3.511v5.688H3.01z"/></clipPath></defs><g><g><path fill="none" d="M3.009 19.803h12.42v5.688l14.574-10.99L15.43 3.511v5.688H3.01z"/><path id="path" fill="none" stroke="#e7e7e7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="6" d="M3.009 19.803v0h12.42v5.688l14.574-10.99v0L15.43 3.511v5.688H3.01v0z" clip-path="url(&quot;#i68ta&quot;)"/></g></g></svg>
  </div>
</div>

<!--checkbox-->
<label class="checkbox">
  <input class="checkbox__input" type="checkbox">
  <span class="checkbox__text">TEXT</span>
</label>

<!--TABS-->
<div class="class__tabs _tabs">
  <div class="class__tab-box">
    <div class="class__tab _tabs-item _active">Tab 1</div>
    <div class="class__tab _tabs-item">Tab 2</div>
  </div>
  <div class="class__content-box">
    <div class="class__tab-content _tabs-content _active"></div>
    <div class="class__tab-content _tabs-content"></div>
  </div>
</div>

<!--Breadcrumbs-->
<div class="class__breadcrumbs breadcrumbs">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="">Промежуточная страница</a>
    </li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__page">Текущая страница</span>
    </li>
  </ul>
</div>

<!--Pagination-->
<div class="class__pagination pagination">
  <a class="pagination__arrow _prev-arrow" href="">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="29" viewBox="0 0 33 29"><defs><clipPath id="gd31a"><path fill="#fff" d="M0 29V0h33v29zM29.945 9.199H17.524V3.511L2.95 14.5l14.573 10.99v-5.688h12.42z"/></clipPath></defs><g><g><path fill="none" d="M29.945 19.803H17.524v5.688L2.95 14.501l14.573-10.99v5.688h12.42z"/><path fill="none" stroke="#e7e7e7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="6" d="M29.945 19.803v0H17.524v5.688L2.95 14.501v0l14.573-10.99v5.688h12.42v0z" clip-path="url(&quot;#gd31a&quot;)"/></g></g></svg>
  </a>
  <ul class="pagination__list">
    <li class="pagination__item"><a class="pagination__link" href="">1</a></li>
    <li class="pagination__item"><a class="pagination__link" href="">2</a></li>
    <li class="pagination__item"><a class="pagination__link" href="">3</a></li>
    <li class="pagination__item _active"><a class="pagination__link" href="">4</a></li>
    <li class="pagination__item"><a class="pagination__link" href="">5</a></li>
    <li class="pagination__item"><a class="pagination__link" href="">...</a></li>
    <li class="pagination__item"><a class="pagination__link" href="">10</a></li>
  </ul>
  <a class="pagination__arrow _next-arrow" href="">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="29" viewBox="0 0 33 29"><defs><clipPath id="i68ta"><path fill="#fff" d="M0 29V0h33v29zm3.009-9.197h12.42v5.688l14.574-10.99L15.43 3.511v5.688H3.01z"/></clipPath></defs><g><g><path fill="none" d="M3.009 19.803h12.42v5.688l14.574-10.99L15.43 3.511v5.688H3.01z"/><path id="path" fill="none" stroke="#e7e7e7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="6" d="M3.009 19.803v0h12.42v5.688l14.574-10.99v0L15.43 3.511v5.688H3.01v0z" clip-path="url(&quot;#i68ta&quot;)"/></g></g></svg>
  </a>
</div>

<!--NoUiSlider-->
<div class="class-filter">
  <div class="class-filter__slider"></div>
  <div class="class-filter__values slider-values">
    <label class="slider-values__label">от
      <input class="slider-values__input slider-values__from" type="text">
    </label>
    <label class="slider-values__label">до
      <input class="slider-values__input slider-values__to" type="text">
    </label>
  </div>
</div>

<!--Accordion-->
<button class="accordion" type="button"><span>Button</span></button>
<div class="accordion-content"></div>

<!--CARD-->
<article class="card">
  <a class="card__link" href="#">
    <aside class="card__aside">
      <figure class="card__figure">
        <img src="images/products/similar-product.png" alt="Вот такой ковш">
      </figure>
    </aside>
    <header class="card__header">
      <p class="card__title">Ковш вот такой большой</p>
    </header>
    <div class="card__body">
      <p class="card__info">8шт.</p>
    </div>
  </a>
  <footer class="card__footer">
    <div class="card__actions">
      <div class="card__price rub">2 300 000</div>
    </div>
  </footer>
</article>