.rub::after {
  content: "₽";
  margin: 0 0 0 5px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;

  &--contain {
    background-size: contain;
  }

  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

// TABS
._tabs-content {
  display: none;

  &._active {
    display: block;
  }
}

._tabs-item {
  cursor: pointer;
}

// Scroll styling
// Scroll styling
.os-scrollbar-track {
  width: 4px;
  background-color: $accent;
}

.os-scrollbar-track-off {
  background-color: $grey;
}

.os-scrollbar-handle {
  background-color: rgba($accent, 0.5);
  height: 64px !important;
}


.os-theme-dark > .os-scrollbar > .os-scrollbar-track,
.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-light > .os-scrollbar > .os-scrollbar-track,
.os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  border-radius: 0;
  //background-color: $grey;
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
  background: rgba($accent, 0.5);
  cursor: pointer;
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle:hover,
.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle:active {
  background: $accent;
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track {
  background: $grey;

}

.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
  top: -2px;
  bottom: -2px;
  right: -4px;
}

.checkbox {
  position: relative;
  display: block;
  margin: 0 0 15px 0;
  width: 100%;

  &:last-child {
    margin: 0;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + .checkbox__text::before {
      border: 2px solid rgba($mainColor, 0.5);
    }

    &:checked + .checkbox__text::after {
      opacity: 1;
      transform: scale(1);
      transition: all 0.15s cubic-bezier(0.41, 1.13, 0.79, 1.33);
      transform-origin: center;
    }
  }

  &__text {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    width: 100%;
    cursor: pointer;

    &::before {
      content: "";
      align-items: flex-start;
      margin: 0 12px 0 0;
      flex: 0 0 20px;
      height: 20px;
      border: 2px solid #dadada;
      left: 0;
      top: 0;
      background: #fff;
    }

    &::after {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      left: 4px;
      top: 4px;
      background-color: $accent;
      transform: scale(0.5);
      opacity: 0;
      transition: all 0.15s cubic-bezier(0.47, 1.01, 0.75, 0.97);
    }
  }

  a {
    color: #fff;
    text-decoration: underline;
    @media (min-width: $md2+px) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.slider-nav {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__arrow {
    margin: 0 0 25px;

    svg path {
      transition: all 0.2s;
    }

    &:last-child {
      margin: 0;
    }

    &:hover {
      svg path {
        stroke: $accent;
      }
    }
  }

  &__next {

  }
  
  &__prev {
    transform: rotate(180deg);
  }

}
