//MAIN TABS
.details {
  padding: 0 0 100px;
  
  @media (max-width: 650px) {
    padding: 0 0 40px;
  }

  &__table {
    width: 100%;

    //info-tab table
    tr {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 5px 10px;
      background-color: $grey;
      border-bottom: 2px solid $white;

      @media (max-width: 600px) {
        flex-direction: column;
      }
    }

    td {
      margin: 0 30px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__label {
    font-weight: 600;
  }

  &__caption {
    font-weight: 700;
    margin: 0 0 5px;
  }

  &__list {
    margin: 0 0 10px 15px;
    list-style: disc outside none;
    padding: 0 0 0 15px;
  }

  &__text {
    span {
      display: block;
      margin: 10px 0 0;
    }
  }

  &__tab-box {
    display: inline-flex;
    align-items: center;
    border: 2px solid $grey;
    border-bottom: none;
    text-align: center;

    @media (max-width: 650px) {
      display: block;
      margin: 0 -15px;
      border-bottom: 2px solid $grey;
    }
  }

  &__tab {
    padding: 17px 20px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    border-right: 2px solid $grey;

    @media (max-width: 650px) {
      border-right: none;
      border-bottom: 2px solid $grey;

      &:last-child {
        border-bottom: none;
      }
    }

    &:last-child {
      border-right: none;
    }

    &.js-active {
      color: $accent;
      background-color: $grey;
    }
  }

  &__tab-content {
    border-top: 2px solid $grey;
    padding: 20px 0 0;

    @media (max-width: 650px) {
      border-top: none;
    }

    .set {
      &__item {
        display: flex;
        flex-basis: auto;
        margin: 0 50px 20px 0;
      }
    }
  }

  &__specifications {
    display: flex;

    @media (max-width: 1150px) {
      display: block;
    }

    .details__table {
      z-index: 1;
      margin: 0 85px 0 0;
      max-width: 490px;

      @media (max-width: 1150px) {
        max-width: calc(100% - 60px);
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    width: 100%;
    position: relative;
    margin: 0 40px 0 0;
    background-color: transparent;
    border-top: 1px solid $grey;
    
    @media (max-width: 650px) {
      flex-direction: column;
      
      .details__label {
        margin: 0 0 10px;
      }
    }
    
    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: 1px solid $grey;
    }
  }

  &__documents {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .document {
      flex: 0 0 173px;
      margin: 0 50px 30px 0;

      @media (max-width: 470px) {
        flex-basis: 100%;

        &__text{
          max-width: 100%;
        }

      }


    }
  }
}

.tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
  width: 20px;
  height: 20px;
  background-color: $grey;
  cursor: help;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $accent;
    color: $white;

    .tooltip__wrapper {
      display: block;
    }
  }

  &__wrapper {
    position: absolute;
    display: none;
    bottom: 35px;
    right: -30px;
    background-color: $white;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    &::before {
      content: "";
      position: absolute;
      right: 30%;
      transform: translateX(50%) rotate(-22deg);
      bottom: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-top: 14px solid $white;
      border-right: 10px solid transparent;
    }
  }

  &__text {
    //display: block;
    width: 160px;
    padding: 15px;
    //height: 100px;
    font-weight: 600;
    font-size: 12px;
    overflow-y: auto;
    color: $mainColor;
    background-color: $white;
    z-index: 20;
  }
}

.additional {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1150px) {
    display: block;
  }

  &__item-wrapper {
    margin: 0 40px 20px 0;
    display: flex;
    flex-basis: calc(50% - 50px);
    align-items: center;

    @media (max-width: 650px) {
      display: block;
      margin: 0 0 25px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
    flex: 0 0 230px;
    padding: 10px;
    border: 2px solid $grey;
    transition: all 0.3s ease-in-out;

    @media (max-width: 650px) {
      margin: 0 0 10px;
      justify-content: center;
      border: none;
    }

    &:hover {
      border-color: $accent;
    }
  }

  &__image {
    width: 40px;
    height: 45px;
    margin: 0 10px 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    margin: 0 0 5px;
    font-weight: 700;
  }

  &__price {
    font-weight: 900;
    color: $accent;
  }

  &__description {
    max-width: 320px;

    @media (max-width: 1150px) {
      max-width: 100%;
    }
  }
}
