<section class="video" id="video-section">
  <div class="container">
    <div class="video__inner">
      <div class="video__video">
        <iframe width="100%" src="https://www.youtube.com/embed/xgRCc72vaKU?list=PLFY82u18e4cj19BPfTlscEL_jsFR7dy-r"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <div class="video__info">
        <header class="video__header">
          <h3 class="video__caption title-h3">еще больше видео на нашем канале</h3>
          <a class="video__logo" href="https://youtu.be/xgRCc72vaKU?list=PLFY82u18e4cj19BPfTlscEL_jsFR7dy-r" target="_blank">
            <svg class="">
              <use xlink:href="images/svgSprite.svg#youtube"></use>
            </svg>
          </a>
        </header>
        <div class="video__body">
          <p class="video__text">
            Мы делаем котлы с 2003 года, более 15 лет. В начале своего пути наименование завода было РОСЭНЕРГОПРОМ.
            Наше оборудование успешно работает практически во всех регионах России от Крыма до Камчатки, на территории соседних государств
            Казахстана, Белоруссии, Монголии, Литвы.
            На нашем канале на ЮТУБ можно посмотреть как происходит на нашем заводе изготовление котлов и модульных МКУ.
          </p>
          <a class="article-link" href="#">
            <span>Перейти на youtube канал</span>
            <svg class="article-link__arrow" width="56" height="10" viewBox="0 0 56 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 5L54 5M54 5L50 1M54 5L50 9" stroke="#252525" stroke-width="2"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

