.video {
  padding: 0 0 100px;
  
  @media (max-width: $md3+px) {
    padding: 0 0 50px;
  }

  &__inner {
    display: flex;
    @media (max-width: 1250px) {
      display: block;
    }

    @media (max-width: 550px) {
      margin: 0 -15px;
    }
  }

  &__video {
    position: relative;
    margin: 0 20px 0 0;
    max-width: 694px;
    width: 100%;
    height: 390px;
    overflow: hidden;

    @media (max-width: 1250px) {
      max-width: 100%;
      margin: 0;
    }

    @media (max-width: 750px) {
      height: auto;
    }

    &::before {
      content: '';
      padding-top: 56.25%;
      display: block;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    flex: 0 1 490px;
    border: 2px solid $grey;
  }

  &__header {
    background-color: $grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    @media (max-width: 550px) {
      padding: 20px;
    }
  }

  &__caption {
    margin: 0 20px 0 0;
    max-width: 175px;
    text-transform: uppercase;
  }

  &__logo {
    display: block;
    svg {
      width: 93px;
      height: 40px;
    }
  }

  &__body {
    padding: 20px;
  }

  &__text {
    margin: 0 0 20px;
    line-height: 30px;

    @media (max-width: 550px) {
      line-height: 1.5;
    }
  }
}

