.product {
  padding: 0 0 200px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__aside {
    flex: 0 1 490px;
    min-width: 0;
  }

  &__info {
    flex: 0 0 684px;
  }
}

.slider-product {

  &__top {
    position: relative;
    border: 2px solid $grey;
  }

  &__slide {

  }

  &__label {
    position: absolute;
    top: 20px;
    left: -2px;
  }

  &__img {
    height: 368px;

    img {
      max-width: 100%;
    }
  }

  &__thumbs {
    display: flex;
    align-items: center;
    margin: 20px 0;

    .slider-product__slide {
      max-width: 114px;
      cursor: pointer;
      margin-left: 1px;
    }

    .slider-product__img {
      max-width: 100%;
      height: 75px;
    }

    .slider-nav {
      width: 100%;
    }
  }

  &__thumbs-body {
    flex: 0 0 388px;
    margin: 0;

    .swiper-slide {
      border: 2px solid transparent;
      transition: all 0.3s ease 0s;

    }

    .swiper-slide-thumb-active {
      border: 2px solid $accent;
    }
  }
}

.label {
  position: relative;
  display: inline-block;
  margin: 0 0 10px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 12px;
  color: $white;
  background: $accent;
  padding: 5px;
  z-index: 10;

  &:last-child {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    right: -11px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 13px solid $accent;
    border-right: 11px solid transparent;
  }

  &::after {
    content: "";
    position: absolute;
    right: -11px;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 13px solid $accent;
    border-right: 11px solid transparent;
  }
}

.aside-product {
  
  &__media-links {
    margin: 0 0 20px;
  }

  &__choose-power {
    margin: 0 0 20px;
    position: relative;
    display: block;
    width: 100%;
    padding: 23px 22px 22px;
    border: 2px solid $grey;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    cursor: default;
    
    &::after {
      content: "";
      position: absolute;
      width: 90px;
      height: 93px;
      right: 0;
      top: -9px;
      transform: scale(-1, 1);
      background-image: url("../images/products/01.png");
      background-size: cover;
      background-position: right center;
      background-repeat: no-repeat;
      z-index: -1;
    }

    span {
      display: block;
      max-width: 360px;
      font-weight: 700;
    }
  }

}

.media-links {
  display: flex;
  justify-content: space-between;

  &__item {
    max-width: 150px;
    width: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $grey;
    padding: 8px 10px 7px;
    transition: all 0.3s;

    &:hover {
      border-color: $accent;
      .media-links__icon path {
        fill: $accent;
      }
    }
  }

  &__icon path {
    transition: all 0.3s;
  }

  &__text {
    display: inline-block;
    margin: 0 0 0 10px;
    max-width: 60px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
  }
}

.power-filter {
  border: 2px solid $grey;
  transition: all 0.3s ease 0s;
  
  
  &:hover {
    border-color: $accent;
  }
  &__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px 17px 20px;
    width: 100%;
    background-color: $grey;
    font-weight: 700;
    font-size: 16px;
    text-align: left;

    &:hover,
    &.js-opened {
      path {
        fill: $accent;
      }
    }

    &.js-opened {
      .power-filter__toggle-icon {
        transform: rotate(0);
      }
    }
  }

  &__toggle-icon {
    transition: all 0.3s ease 0s;
    transform: rotate(180deg);

    path {
      transition: all 0.3s;
    }
  }

  &__body {
    display: none;

    &.js-visible {
      display: block;
    }
  }

  &__options {

    padding: 20px 22px 0;
  }

  &__select-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  &__label {
    display: flex;
    align-items: center;
    margin: 0 30px 15px 0;
    font-weight: 700;

    .choices {
      font-weight: 400;

      &::after {
        right: -12px;
        border: none;
        width: 10px;
        height: 7px;
        background: url('../images/icons/filter-down.svg') center no-repeat;
      }

      &.is-open::after {
        top: 19px;
        transform: rotate(180deg);
      }
      &__inner {
        background-color: transparent;
        min-height: unset;
        border: none;
      }

      &__list {
        padding: 0;

        &--dropdown {
          width: 200%;
          padding: 4px;
          word-break: unset;

          .choices__item {
            white-space: nowrap;
          }

        }
      }


    }
  }

  &__caption {
    margin: 0 0 20px;
    font-weight: 700;
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;

    .checkbox {
      flex: 0 1 50%;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 13px 28px;
    background-color: $accent;
    font-weight: 700;
    color: $white;
  }

  &__count {
    padding: 0 5px;
    text-decoration: underline;
  }

  &__content {
    display: none;

    &.js-opened {
      display: block;
    }

    .cart {
      background: 0;
      flex: 0 0 90px;

      &:hover {
        .cart__icon path {
          fill: $accent;
        }
      }
      &__icon {
        width: 20px;
        height: 20px;

        path {
          transition: all 0.3s ease 0s;
          fill: $mainColor;
        }
      }
    }
  }

  &__products {
    padding: 20px;
    height: 380px;
    overflow-y: auto;

    .os-scrollbar-vertical {
      top: 20px !important;
      bottom: 20px !important;
      right: 20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
  }
}

.filter-product {
  display: flex;
  align-items: center;

  &__img {
    display: block;
    flex: 0 0 60px;
    margin: 0 18px 0 0;
    height: 60px;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    flex: 0 0 265px;
  }

  &__title {
    margin: 0 0 4px;
    font-weight: 700;
  }

  &__price {
    margin: 0 0 4px;
    font-weight: 900;
    color: $accent;
  }

  &__details {
    font-size: 12px;
  }

}









