<div class="viewed">
  <div class="container">
    <header class="viewed__header">
      <h1 class="viewed__title title-h1">Вы смотрели</h1>
      <div class="slider-nav">
        <button class="slider-nav__arrow slider-nav__prev" type="button">
          <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019" stroke="#252525" stroke-width="2"/>
          </svg>
        </button>
        <button class="slider-nav__arrow slider-nav__next" type="button">
          <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.528381 8.35049L50.9053 8.35049M50.9053 8.35049L40.8299 1.00049M50.9053 8.35049L40.8299 15.7005" stroke="#252525" stroke-width="2"/>
          </svg>
        </button>
      </div>
    </header>

    <div class="viewed__slider swiper">
      <div class="viewed__slide">
        <article class="card">
          <a class="card__link" href="#">
            <aside class="card__aside">
              <figure class="card__figure">
                <img src="images/products/similar-product.png" alt="Вот такой ковш">
              </figure>
            </aside>
            <header class="card__header">
              <p class="card__title">Ковш вот такой большой</p>
            </header>
            <div class="card__body">
              <p class="card__info">8шт.</p>
            </div>
          </a>
          <footer class="card__footer">
            <div class="card__actions">
              <div class="card__price rub">2 300 000</div>
            </div>
          </footer>
        </article>
      </div>
      <div class="viewed__slide">
        <article class="card">
          <a class="card__link" href="#">
            <aside class="card__aside">
              <figure class="card__figure">
                <img src="images/products/manometer.png" alt="Манометр МП 160">
              </figure>
            </aside>
            <header class="card__header">
              <p class="card__title">Манометр МП 160</p>
            </header>
            <div class="card__body">
              <p class="card__info">2шт.</p>
            </div>
          </a>
          <footer class="card__footer">
            <div class="card__actions">
              <div class="card__price rub">2 300 000</div>
            </div>
          </footer>
        </article>
      </div>
      <div class="viewed__slide">
        <article class="card">
          <a class="card__link" href="#">
            <aside class="card__aside">
              <figure class="card__figure">
                <img src="images/products/shutter.png" alt="Клапан">
              </figure>
            </aside>
            <header class="card__header">
              <p class="card__title">Клапан Ду 40</p>
            </header>
            <div class="card__body">
              <p class="card__info">8шт.</p>
            </div>
          </a>
          <footer class="card__footer">
            <div class="card__actions">
              <div class="card__price rub">2 300 000</div>
            </div>
          </footer>
        </article>
      </div>
      <div class="viewed__slide">
        <article class="card">
          <a class="card__link" href="#">
            <aside class="card__aside">
              <figure class="card__figure">
                <img src="images/products/valve.png" alt="Вентиль Ду 20">
              </figure>
            </aside>
            <header class="card__header">
              <p class="card__title">Вентиль Ду 20</p>
            </header>
            <div class="card__body">
              <p class="card__info">2шт.</p>
            </div>
          </a>
          <footer class="card__footer">
            <div class="card__actions">
              <div class="card__price rub">2 300 000</div>
            </div>
          </footer>
        </article>
      </div>
      <div class="viewed__slide">
        <article class="card">
          <a class="card__link" href="#">
            <aside class="card__aside">
              <figure class="card__figure">
                <img src="images/products/similar-product.png" alt="Вот такой ковш">
              </figure>
            </aside>
            <header class="card__header">
              <p class="card__title">Ковш вот такой большой</p>
            </header>
            <div class="card__body">
              <p class="card__info">8шт.</p>
            </div>
          </a>
          <footer class="card__footer">
            <div class="card__actions">
              <div class="card__price rub">2 300 000</div>
            </div>
          </footer>
        </article>
      </div>
      <div class="viewed__slide">
        <article class="card">
          <a class="card__link" href="#">
            <aside class="card__aside">
              <figure class="card__figure">
                <img src="images/products/manometer.png" alt="Манометр МП 160">
              </figure>
            </aside>
            <header class="card__header">
              <p class="card__title">Манометр МП 160</p>
            </header>
            <div class="card__body">
              <p class="card__info">2шт.</p>
            </div>
          </a>
          <footer class="card__footer">
            <div class="card__actions">
              <div class="card__price rub">2 300 000</div>
            </div>
          </footer>
        </article>
      </div>
      <div class="viewed__slide">
        <article class="card">
          <a class="card__link" href="#">
            <aside class="card__aside">
              <figure class="card__figure">
                <img src="images/products/shutter.png" alt="Клапан">
              </figure>
            </aside>
            <header class="card__header">
              <p class="card__title">Клапан Ду 40</p>
            </header>
            <div class="card__body">
              <p class="card__info">8шт.</p>
            </div>
          </a>
          <footer class="card__footer">
            <div class="card__actions">
              <div class="card__price rub">2 300 000</div>
            </div>
          </footer>
        </article>
      </div>
      <div class="viewed__slide">
        <article class="card">
          <a class="card__link" href="#">
            <aside class="card__aside">
              <figure class="card__figure">
                <img src="images/products/valve.png" alt="Вентиль Ду 20">
              </figure>
            </aside>
            <header class="card__header">
              <p class="card__title">Вентиль Ду 20</p>
            </header>
            <div class="card__body">
              <p class="card__info">2шт.</p>
            </div>
          </a>
          <footer class="card__footer">
            <div class="card__actions">
              <div class="card__price rub">2 300 000</div>
            </div>
          </footer>
        </article>
      </div>
    </div>
  </div>
</div>