.about {
  padding: 100px 0;
  
  @media (max-width: $md3+px) {
    padding: 30px 0 50px;
  }

  &__inner {
    @media (max-width: 650px) {
      margin: 0 -15px;
    }
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px;
    
    @media (max-width: $md3+px) {
      margin: 0 0 20px;
    }

    @media (max-width: 650px) {
      padding: 0 15px;
    }
  }
  
  &__title {
    margin: 0 30px 0 0;
    text-transform: uppercase;

    @media (max-width: $md3+px) {
      margin: 0;
    }
  }

  .slider-nav {
    flex-direction: row;

    @media (max-width: $md3+px) {
      display: none;
    }
    
    &__prev {
      transform: rotate(0);
      margin: 0;
    }

    &__arrow {
      margin: 0 20px 0 0;

      svg path {
        transition: all 0.2s;
        stroke: $mainColor;
      }

      &:hover {
        svg path {
          stroke: $accent;
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  .article-card {
    margin: 0;

    &:hover {
      .article-card__img {
        transform: translateX(-100px);
      }
    }

    &__figure {
      position: relative;
      &::after {
        display: none;
      }
    }

    &__img {
      position: absolute;
      left: 0;
      width: 140%;
      max-width: unset;
      backface-visibility: hidden;
      transform: translateX(0) translateZ(0);
      transition: all 3s ease-out;

      @media (max-width: 1250px) {
        width: 100%;
      }
    }

    &__figcaption {
      bottom: 0;
    }

    &__icon {
      display: inline-block;
      margin: 0 0 10px;
    }

    &__caption {
      font-weight: 800;
      font-size: 18px;
      color: $white;
      max-width: 250px;
    }
  }
}