<section class="about">
  <div class="container">
    <div class="about__inner">
      <header class="about__header">
        <div class="about__title title-h1">Собственное производство</div>
        <div class="slider-nav">
          <button class="slider-nav__arrow slider-nav__prev" type="button">
            <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M52.377 8.3502L2.00013 8.35019M2.00013 8.35019L12.0755 15.7002M2.00013 8.35019L12.0755 1.00019" stroke="#252525"
                    stroke-width="2"/>
            </svg>
          </button>
          <button class="slider-nav__arrow slider-nav__next" type="button">
            <svg width="53" height="17" viewBox="0 0 53 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.528381 8.35049L50.9053 8.35049M50.9053 8.35049L40.8299 1.00049M50.9053 8.35049L40.8299 15.7005"
                    stroke="#252525" stroke-width="2"/>
            </svg>
          </button>
        </div>
      </header>
      <div class="about__slider swiper">
        <div class="about__slide">
          <article class="article-card">
            <figure class="article-card__figure js-hover">
              <img class="article-card__img" src="images/articles/01.png" alt="Производство бункеров топлива и шлака">
              <figcaption class="article-card__figcaption">
                <h3 class="article-card__caption title-h3">Производство бункеров топлива и шлака</h3>
              </figcaption>
              <a class="article-card__link" href="#"></a>
            </figure>
          </article>
        </div>
        <div class="about__slide">
          <article class="article-card">
            <figure class="article-card__figure js-hover">
              <img class="article-card__img" src="images/articles/02.png" alt="Производство паровых котлов">
              <figcaption class="article-card__figcaption">
                <h3 class="article-card__caption title-h3">Производство паровых котлов</h3>
              </figcaption>
              <a class="article-card__link" href="#"></a>
            </figure>
          </article>
        </div>
        <div class="about__slide">
          <article class="article-card">
            <figure class="article-card__figure js-hover">
              <img class="article-card__img" src="images/articles/03.png" alt="Производство батарейных циклонов">
              <figcaption class="article-card__figcaption">
                <h3 class="article-card__caption title-h3">Производство батарейных циклонов</h3>
              </figcaption>
              <a class="article-card__link" href="#"></a>
            </figure>
          </article>
        </div>
        <div class="about__slide">
          <article class="article-card">
            <figure class="article-card__figure js-hover">
              <img class="article-card__img" src="images/articles/01.png" alt="Производство бункеров топлива и шлака">
              <figcaption class="article-card__figcaption">
                <h3 class="article-card__caption title-h3">Производство бункеров топлива и шлака</h3>
              </figcaption>
              <a class="article-card__link" href="#"></a>
            </figure>
          </article>
        </div>
        <div class="about__slide">
          <article class="article-card">
            <figure class="article-card__figure js-hover">
              <img class="article-card__img" src="images/articles/02.png" alt="Производство паровых котлов">
              <figcaption class="article-card__figcaption">
                <h3 class="article-card__caption title-h3">Производство паровых котлов</h3>
              </figcaption>
              <a class="article-card__link" href="#"></a>
            </figure>
          </article>
        </div>
        <div class="about__slide">
          <article class="article-card">
            <figure class="article-card__figure js-hover">
              <img class="article-card__img" src="images/articles/03.png" alt="Производство батарейных циклонов">
              <figcaption class="article-card__figcaption">
                <h3 class="article-card__caption title-h3">Производство батарейных циклонов</h3>
              </figcaption>
              <a class="article-card__link" href="#"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>