<section class="virtual">
  <div class="container">
    <div class="virtual__inner">
      <article class="article-card article-card--text">
        <div class="article-card__info">
          <h1 class="article-card__title title-h1">Посмотрите виртуальные туры по заводу и модульной
          котельной</h1>
        </div>
      </article>
      <article class="article-card">
        <figure class="article-card__figure js-hover">
          <img class="article-card__img" src="images/articles/04.png" alt="Ввод котла в эксплуатацию">
          <figcaption class="article-card__figcaption">
            <i class="article-card__icon">
              <svg width="56" height="10" viewBox="0 0 56 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 5L54 5M54 5L50 1M54 5L50 9" stroke="white" stroke-width="2"/>
              </svg>

            </i>
            <h3 class="article-card__caption title-h3">Виртуальный тур по заводу</h3>
          </figcaption>
          <a class="article-card__link" href="#"></a>
        </figure>
      </article>
      <article class="article-card">
        <figure class="article-card__figure js-hover">
          <img class="article-card__img" src="images/articles/05.png" alt="Ввод котла в эксплуатацию">
          <figcaption class="article-card__figcaption">
            <i class="article-card__icon">
              <svg width="56" height="10" viewBox="0 0 56 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 5L54 5M54 5L50 1M54 5L50 9" stroke="white" stroke-width="2"/>
              </svg>

            </i>
            <h3 class="article-card__caption title-h3">Виртуальный тур по котельной</h3>
          </figcaption>
          <a class="article-card__link" href="#"></a>
        </figure>
      </article>
    </div>

  </div>
</section>