<section class="selection">
  <div class="container">
    <div class="selection__inner">
      <h1 class="selection__title title-h1">Подберите котел для своих целей</h1>
      <form class="selection__body">
        <div class="selection__item">
          <div class="selection__caption">
            <label class="selection__label" for="building-type">Тип здания</label>
             <div class="tooltip">?
                <div class="tooltip__wrapper">
                  <p class="tooltip__text"><strong>Тип здания</strong> для обогрева</p>
                </div>
             </div>
          </div>
          <select class="selection__select" name="Тип здания" id="building-type">
            <option>Административные здания</option>
            <option>Бани</option>
            <option>Больницы</option>
            <option>Гаражи</option>
            <option>Гостиницы</option>
            <option>Детские сады</option>
            <option>Жилые постройки</option>
            <option>Кафе, реcторан</option>
            <option>Кинотеатр</option>
            <option>Клуб</option>
          </select>
        </div>
        <div class="selection__item">
          <div class="selection__caption">
            <label class="selection__label" for="region-name">Регион</label>
            <div class="tooltip">?
              <div class="tooltip__wrapper">
                <p class="tooltip__text"><strong>Регион</strong> использования котла</p>
              </div>
            </div>
          </div>
          <select class="selection__select" name="Регион" id="region-name">
            <option value="1">Республика Адыгея</option>
            <option value="2">Республика Алтай </option>
            <option value="3">Республика Башкортостан </option>
            <option value="4">Республика Бурятия </option>
            <option value="5">Республика Дагестан </option>
            <option value="6">Республика Ингушетия </option>
            <option value="7">Кабардино-Балкарская Республика</option>
            <option value="8">Республика Калмыкия </option>
            <option value="9">Карачаево-Черкесская Республика</option>
            <option value="10">Республика Карелия </option>
            <option value="11">Республика Коми </option>
            <option value="12">Республика Марий Эл </option>
            <option value="13">Республика Мордовия </option>
            <option value="14">Республика Саха (Якутия) </option>
            <option value="15">Республика Северная Осетия - Алания </option>
            <option value="16">Республика Татарстан</option>
            <option value="17">Республика Тыва </option>
            <option value="18">Удмуртская Республика </option>
            <option value="19">Республика Хакасия </option>
            <option value="20">Чеченская Республика</option>
            <option value="21">Чувашская Республика</option>
            <option value="22">Алтайский край</option>
            <option value="75">Забайкальский край</option>
            <option value="41">Камчатский край</option>
            <option value="23">Краснодарский край</option>
            <option value="24">Красноярский край</option>
            <option value="59">Пермский край</option>
            <option value="25">Приморский край</option>
            <option value="26">Ставропольский край</option>
            <option value="27">Хабаровский край</option>
            <option value="28">Амурская область </option>
            <option value="29">Архангельская область</option>
            <option value="30">Астраханская область </option>
            <option value="31">Белгородская область</option>
            <option value="32">Брянская область </option>
            <option value="33">Владимирская область </option>
            <option value="34">Волгоградская область </option>
            <option value="35">Вологодская область </option>
            <option value="36">Воронежская область </option>
            <option value="37">Ивановская область </option>
            <option value="38">Иркутская область </option>
            <option value="39">Калининградская область</option>
            <option value="40">Калужская область </option>
            <option value="42">Кемеровская область </option>
            <option value="43">Кировская область </option>
            <option value="44">Костромская область </option>
            <option value="45">Курганская область </option>
            <option value="46">Курская область </option>
            <option value="47">Ленинградская область </option>
            <option value="48">Липецкая область </option>
            <option value="49">Магаданская область</option>
            <option value="50">Московская область </option>
            <option value="51">Мурманская область </option>
            <option value="52">Нижегородская область </option>
            <option value="53">Новгородская область </option>
            <option value="54">Новосибирская область </option>
            <option value="55">Омская область</option>
            <option value="56">Оренбургская область </option>
            <option value="57">Орловская область </option>
            <option value="58">Пензенская область </option>
            <option value="60">Псковская область </option>
            <option value="61">Ростовская область </option>
            <option value="62">Рязанская область </option>
            <option value="63">Самарская область </option>
            <option value="64">Саратовская область </option>
            <option value="65">Сахалинская область </option>
            <option value="66">Свердловская область </option>
            <option value="67">Смоленская область </option>
            <option value="68">Тамбовская область </option>
            <option value="69">Тверская область </option>
            <option value="70">Томская область </option>
            <option value="71">Тульская область</option>
            <option value="72">Тюменская область </option>
            <option value="73">Ульяновская область </option>
            <option value="74">Челябинская область </option>
            <option value="76">Ярославская область</option>
            <option value="77">Москва</option>
            <option value="78">Санкт-Петербург</option>
            <option value="79">Еврейская АО</option>
            <option value="80">Ненецкий АО</option>
            <option value="81">Ханты-Мансийский АО</option>
            <option value="82">Чукотский АО</option>
            <option value="83">Ямало-Ненецкий АО</option>
          </select>
        </div>
        <div class="selection__item">
          <div class="selection__caption">
            <label class="selection__label" for="city-name">Город</label>
            <div class="tooltip">?
              <div class="tooltip__wrapper">
                <p class="tooltip__text"><strong>Город</strong> использования котла</p>
              </div>
            </div>
          </div>
          <select class="selection__select" name="Город" id="city-name">
            <option value="1">Город-1</option>
            <option value="2">Город-2</option>
            <option value="3">Город-3</option>
            <option value="4">Город-4</option>
            <option value="5">Город-5</option>
            <option value="6">Город-6</option>
            <option value="7">Город-7</option>
            <option value="8">Город-8</option>
          </select>
        </div>
        <div class="selection__item">
          <div class="selection__caption">
            <label class="selection__label" for="building-capacity">Наружный объем здания (м3)</label>
            <div class="tooltip">?
              <div class="tooltip__wrapper">
                <p class="tooltip__text"><strong>Наружный объем здания (м3)</strong> для обогрева</p>
              </div>
            </div>
          </div>
          <input class="selection__input" name="Объем здания" id="building-capacity" placeholder="Примерный объем">
        </div>
        <div class="selection__item selection__item--ckeckbox">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" name="Есть отапливаемый подвал">
            <span class="checkbox__text">Есть отапливаемый подвал</span>
          </label>
        </div>
        <div class="selection__item">
          <button class="selection__btn" type="submit">Показать подходящие котлы</button>
        </div>
      </form>
    </div>
  </div>
</section>