<section class="control">
  <div class="container">
    <div class="control__body">
      <div class="control__breadcrumbs breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="">главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="">каталог</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="">категория</a>
          </li>
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__this-page">Товар</span>
          </li>
        </ul>
      </div>
      <div class="control__ya-share ya-share2" data-services="vkontakte,facebook,odnoklassniki,viber,whatsapp,telegram"></div>
    </div>
  </div>
</section>