.control {
  margin: 18px 0 20px;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1050px) {
      display: block;
    }
  }

  &__ya-share {
    margin: 0 0 0 50px;

    @media (max-width: 1050px) {
      margin: 20px 0 0;
    }
  }
}

.breadcrumbs {
  overflow: auto;
  white-space: nowrap;

  &__list {
    margin: 0;
  }

  &__item {
    display: inline-block;
    padding: 0 27px 0 0;
    margin: 0 16px 0 0;
    position: relative;
    font-size: 12px;
    line-height: 1.2;

    &::after {
      position: absolute;
      content: '';
      background: url('../images/icons/chevron-right.svg') center no-repeat;
      width: 6px;
      height: 10px;
      top: 2px;
      right: 0;
    }
    &:last-child {
      color: #999;
      padding: 0;
      margin: 0;
      &::after {
        display: none;
      }
    }
  }

  &__link {
    display: inline-block;
    color: inherit;

    &::first-letter {
      text-transform: capitalize;
    }
    
    &:hover {
      text-decoration: underline;
    }
  }

  &__this-page {
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }
}
