.similar,
.viewed {
  padding: 100px 0 100px;

  @media (max-width: $md3+px) {
    padding: 50px 0 50px;
  }
  
  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px;
    
    @media (max-width: $md3+px) {
      margin: 0 0 20px;
    }
  }
  
  &__title {
    margin: 0 30px 0 0;
  }

  .slider-nav {
    flex-direction: row;
    align-items: center;

    @media (max-width: $md2+px) {
      display: none;
    }

    &__arrow {
      margin: 0 20px 0 0;

      &:hover {
        svg path {
          stroke: $accent;
        }
      }

      svg path {
        stroke: $mainColor-light;
        transition: all 0.3s;
      }

      &:last-child {
        margin: 0;
      }
    }
    
    &__prev {
      transform: rotate(0);
    }
  }

  .swiper-slide {
    height: auto;
  }

  .card {
    max-width: 100%;
  }
}



