.bar {
  min-height: 70px;
}

.bar-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 38px;
  background-color: $grey;

  @media (max-width: 1250px) {
    justify-content: flex-start;
  }

  @media (max-width: 750px) {
    margin: 0 -15px;
    padding: 10px 15px;
  }


  &.js-fixed {
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #4a4848;
  }

  .buy-btn {
    @media (max-width: 600px) {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      min-width: unset;
      span {
        display: none;
      }
    }
  }
  
  .request-btn {
    background-color: $white;
    border: none;

    @media (max-width: 600px) {
      &__span {
        display: none;
      }
    }

    @media (max-width: 350px) {
      &__text {
        display: none;
      }
    }
  }

  .purchase-btn {

    @media (max-width: 1250px) {
      display: none;
    }

    &__info {
      background-color: $white;
    }

    &--set {
      margin: 0;
      .purchase-btn__info {
        background-color: $grey;
        border: 2px solid $white;

        &::before {
          border-bottom-color: $grey;
        }
        &::after {
          border-top-color: $grey;
        }
      }
    }

    &__link {
      background-color: $white;
    }
  }
  
}