<section class="callback">
  <div class="container">
    <div class="callback__inner">
      <form class="callback__request request">
        <label class="request__label">
                    <span class="request__text title-h3">
                      Если у вас возникли вопросы по характеристикам или комплектации,
                      <span>оставьте номер вашего телефона и мы проконсультируем вас</span>
                    </span>
          <input class="request__input" type="tel" name="request-call" placeholder="Номер телефона" autocomplete="off">
          <button class="request__btn" type="submit">
            <svg class="request__btn-arrow" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 5.5L28 5.5M28 5.5L23.3714 1M28 5.5L23.3714 10" stroke="white" stroke-width="2"/>
            </svg>
          </button>
        </label>
      </form>
    </div>
  </div>
</section>