<section class="callback">
  <div class="container">
    <div class="callback__inner">
      <form class="call-request">
        <label for="callback" class="call-request__label">
          <span class="call-request__text title-h2">
            Если у вас возникли вопросы по характеристикам или комплектации,
            оставьте номер вашего телефона и мы проконсультируем вас
          </span>
        </label>
        <div class="call-request__body">
          <input class="call-request__input" type="tel" id="callback" placeholder="Номер телефона">
          <button class="call-request__btn" type="submit">
            <svg class="call-request__arrow" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 5.5L28 5.5M28 5.5L23.3714 1M28 5.5L23.3714 10" stroke="white" stroke-width="2"/>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>