.articles {
  padding: 0 0 100px;
  
  @media (max-width: $md3+px) {
    padding: 0 0 50px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -20px;

    @media (max-width: $md3+px) {
      margin: 0;
    }

    @media (max-width: 550px) {
      margin: 0 -15px;
    }
  }

  .article-list {
    margin: 0 0 32px;
  }
}