.header {

  &__search {
    display: none;
    margin: 0 -15px;

    @media (max-width: 650px) {
      display: block;
    }
  }

  &__bottom {
    display: none;
    margin: 0 -20px;
    padding: 0 15px;
    background-color: $grey;

    @media (max-width: 650px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__burger {
    //display: none;
    width: 25px;
    height: auto;

    span {
      margin: 0 0 6px;
      width: 25px;
      height: 3px;
      background-color: $accent;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1050px) {
    flex-wrap: wrap;
  }
  
  @media (max-width: 650px) {
    padding: 15px 0 0;
  }
  
  @media (max-width: 550px) {
    margin: 0 0 15px;
  }

  &__logo {
    margin: 0 26px 0 0;
  }

  &__address {
    margin: 0 26px 0 0;
  }

  &__search {
    margin: 0 26px 0 0;

    @media (max-width: 1050px) {
      order: 5;
    }
  }

  &__contacts {
    margin: 0 26px 0 0;

    @media (max-width: 1050px) {
      order: 5;
      margin: 0;
    }

    @media (max-width: 650px) {
      order: 3;
    }
  }
}

.logo {
  @media (max-width: 550px) {
    margin: 0 0 15px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__image {
    @media (max-width: 550px) {
      //margin: 0 auto;
    }
  }
}

.search-input {
  position: relative;

  @media (max-width: 1050px) {
    flex-basis: calc(100% - 200px);
    margin: 0;
  }

  @media (max-width: 650px) {
    flex-basis: calc(100% - 40px);
    //margin: 0 -20px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    width: 14px;
    height: 14px;
    background: url('../images/icons/magnifier.svg') center no-repeat;
    opacity: 0.5;
    transform: translateY(-50%);
  }

  &__input {
    border: 2px solid var(--grey);
    padding: 18px 19px;
    font-weight: 600;
    width: 100%;

    &::placeholder {
      color: $mainColor-light;
    }
  }
}

.address {
  font-style: normal;
  color: $mainColor-light;

  span {
    display: block;
    position: relative;
    padding: 0 0 0 17px;
    color: var(--mainColor);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 7px;
      height: 12px;
      opacity: 0.5;
      background: url('../images/icons/map-marker.svg') center no-repeat;
    }
  }
}

.contacts {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    margin: 0 20px 0 0;
    padding: 0 0 0 35px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 30px;
      height: 30px;
      transform: translateY(-50%);
      background: url('../images/icons/smartphone.svg') center no-repeat;
    }

    &:last-child {
      margin: 0;
    }

    &:first-child {
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }

  &__phone {
    display: block;
    font-weight: 700;
    font-size: 16px;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__text {
    display: block;
    color: $mainColor-light;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__modal {
    border-bottom: 1px dashed;
    font-size: 12px;
    color: var(--accent);

    @media (max-width: 650px) {
      display: none;
    }
  }
}

.cart {
  display: block;
  border: 1px solid var(--grey);
  padding: 20px 16px 24px;
  text-align: center;
  cursor: pointer;

  @media (max-width: 1050px) {
    border: none;
    padding: 10px;
  }

  @media (max-width: 650px) {
    display: flex;
    align-items: center;
  }

  &:hover {
    .cart__img {
      path {
        fill: var(--accent);
      }
    }
  }

  &__img {
    margin: 0 0 10px;
    
    @media (max-width: 650px) {
      margin: 0 10px 0 0;
    }

    path {
      transition: all 0.3s ease 0s;
    }
  }

  &__total {
    display: block;
    font-weight: 600;
  }
}

.menu {
  display: flex;

  &__megamenu {
    padding: 20px;
    min-width: 184px;
    background: linear-gradient(135deg, #E62817 0%, #F26118 100%);
    font-weight: 700;
    color: $white;
    text-align: center;

    span {
      position: relative;
      padding: 0 20px 0 0;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: url('../images/icons/chevron-down.svg') center no-repeat;
      }
    }
  }

  &__list {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin: 0;
    padding: 20px 25px;
    background-color: $grey;
    border: 2px solid $accent;
  }

  &__item {
    margin: 0 30px 0 0;
    font-weight: 600;
    transition: all 0.3s ease 0s;

    &:hover {
      color: $accent;
    }

    &:last-child {
      margin: 0;
    }

    &.has-dropdown {
      position: relative;
      padding: 0 12px 0 0;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: url('../images/icons/chevron-down-black.svg') center no-repeat;
      }
    }
  }

  &__link {
    display: inline-block;
  }
}