<section class="photo" id="photo-section">
  <div class="container">
    <h1 class="photo__title title-h1">ФОТО</h1>
    <div class="photo__desktop">
      <aside class="photo__thumbs-box scroll">
        <div class="photo__thumbs-wrapper">
          <div class="photo__thumb js-active"><img class="photo__img" src="images/products/11.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/06.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/03.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/04.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/05.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/06.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/02.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/11.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/09.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/10.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/11.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/03.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/04.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/05.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/06.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/02.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/11.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/09.jpg" alt="Котел КвМ 1,1"></div>
          <div class="photo__thumb"><img class="photo__img" src="images/products/10.jpg" alt="Котел КвМ 1,1"></div>
        </div>
      </aside>
      <div class="photo__image-box">
        <a class="photo__image-link" href="#" id="main-image-link" data-hystmodal="#photo">
          <img class="photo__image" id="big-image" src="images/products/11.jpg" alt="Котел КвМ 1,1">
        </a>
      </div>
    </div>
    <div class="photo__mobile scroll">
      <div class="photo__gallery" id="lightgallery">
        <a href="images/products/11.jpg">
          <img src="images/products/11.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/03.jpg">
          <img src="images/products/03.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/04.jpg">
          <img src="images/products/04.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/05.jpg">
          <img src="images/products/05.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/06.jpg">
          <img src="images/products/06.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/02.jpg">
          <img src="images/products/02.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/11.jpg">
          <img src="images/products/11.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/09.jpg">
          <img src="images/products/09.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/10.jpg">
          <img src="images/products/10.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/11.jpg">
          <img src="images/products/11.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/05.jpg">
          <img src="images/products/05.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/11.jpg">
          <img src="images/products/11.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/03.jpg">
          <img src="images/products/03.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/04.jpg">
          <img src="images/products/04.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/05.jpg">
          <img src="images/products/05.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/06.jpg">
          <img src="images/products/06.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/02.jpg">
          <img src="images/products/02.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/11.jpg">
          <img src="images/products/11.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/09.jpg">
          <img src="images/products/09.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/10.jpg">
          <img src="images/products/10.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/11.jpg">
          <img src="images/products/11.jpg" alt="котел вот такой"/>
        </a>
        <a href="images/products/05.jpg">
          <img src="images/products/05.jpg" alt="котел вот такой"/>
        </a>
      </div>

    </div>
  </div>
</section>