.photo {
  padding: 0 0 100px;
  
  @media (max-width: 850px) {
    padding: 0 0 50px;
  }

  &__title {
    margin: 0 0 40px;
    
    @media (max-width: 650px) {
      margin: 0 0 20px;
    }
  }
  
  &__desktop {
    display: flex;
    max-width: 900px;

    @media (max-width: 850px) {
      display: none;
    }
  }

  &__thumbs-box {
    display: inline-block;
    flex: 0 0 290px;
    //max-width: 290px;
    margin: 0 20px 0 0;
    //padding: 0 20px 0 0;
    height: 400px;
    overflow-y: scroll;
  }
  &__thumbs-wrapper {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    margin: 0 0 0 -16px;
    max-width: 282px;
  }

  &__thumb {
    width: 125px;
    margin: 0 0 16px 16px;
    border: 2px solid transparent;
    height: 85px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
    &:hover {
      img {
        transform: scale(1.1);
      }
      ;
    }

    &.js-active {
      border-color: $accent;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      object-position: center;
      transition: all .6s;
    }
  }

  &__image-box {
    width: 100%;
  }

  &__image-link {
    display: inline-block;
    max-width: 600px;
    width: 100%;
    height: 400px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__mobile {
    display: none;
    width: 100%;
    height: 180px;
    overflow-y: scroll;

    @media (max-width: 850px) {
      display: block;
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 10px);

    a {
      display: block;
      margin: 0 10px 10px 0;
      height: 85px;
      max-width: 125px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}